body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    background: url('header.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body{
  //background-image: url('header.jpg');

}
.container{    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mycontent{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.mycenter{
text-align: center;
position: relative;
top: 50%;
}
.texthighligth{
  text-transform: uppercase;    
  color: white;
   font-size: 3rem;
   padding-bottom: 160px;
}
#findOutMoreBtn{   
  width: fit-content;
  background-color: #bb2d3b;
  border-color: #bb2d3b;
  border-radius: 300px;
  transition: all 0.4s;
}
.mycontent hr{
  border-color: #bb2d3b;
}
.line{
  width: 60px;
  border: 2px solid #bb2d3b;
  margin-bottom: 20px;
}
#findOutMoreBtn:hover{
  transform: scale(1.2);
}